<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="css/normalize.css" />
  
  <link rel="stylesheet" href="css/foundation.css" />
  

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>

	 <div class="row">
    <div class="large-3 columns">
      <h1><a href="index.html"><img src="img/ELC_300px_F.png"></a></h1>
    </div>
    <!--<div class="large-9 columns">
      <ul class="button-group right ">
        <li><a href="application.html" class="button">application</a></li>
      </ul>
    </div>-->
    <div class="large-9 columns">
      <h2>{{ page.title }}</h2>
    </div>
  </div>
  <hr />

  <!-- End Header and Nav -->

  <!-- First Band (Image) -->

 
  <!-- Second Band (Image Left with Text) -->

  <div class="row">
    
    <div class="10 columns">
      {{ content }}
        </div>
      </div>
    </div>
  </div>


  <!-- Third Band (Image Right with Text) -->

  


  <!-- Footer -->
  <footer class="row">
    <div class="large-12 columns">
      <hr />
            <h5>For more information, contact:</h5>
      <div class="row">
        <div class="large-6 columns">
          <p>Cindy Thomas<br>
Institute for Community Inclusion<br /> 
<a href="mailto:cindy.thomas@umb.edu">cindy.thomas@umb.edu</a><br />
617-287-4312</p>
        </div>
        <div class="large-6 columns">
          <p>Karen Flippo<br />
Institute for Community Inclusion<br /> 
<a href="mailto:karen.flippo@umb.edu">karen.flippo@umb.edu</a> 
<br />617-287-4344</p>
        </div>
      </div>
      <hr>
      <p>The Employment Learning Community is a project of the Institute for Community Inclusion at the University of Massachusetts Boston, and funded by the Administration
on Intellectual and Developmental Disabilities, Administration for Community Living, US Department of Health and Human Services.</p>
    </div>
  </footer>

  

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
